* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* CENTER CONTENT */
.header-container {
    padding: 0 12px;
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

.top-header {
    position: absolute;
    padding: 30px 0;
    z-index: 1000;
    background: transparent;
    top: 0;
    /* left:0; */
    width: 100%;
    color: white;

}

/* FLEX LAYOUT */
.top-header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    color: white;
}

.header-logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 400;

}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 30px;


}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #d9d9d9;
    font-weight: 600;
    padding: 18px 15px;
    font-size: 16px;
}

.cta-btn {
    text-decoration: none;
    background: #ff4d4f;
    color: white;
    padding: 6px 15px;
    border-radius: 50px;
    font-size: 14px;

}

.nav-links li a:hover {
    color: #ff4d4f;
}



@media (max-width: 1024px) {}

@media (max-width:768px) {
    .nav-links {

        display: none;
    }
}

@media (max-width: 480px) {
    .nav-links {
        display: none;
    }
}


/* Hero */

.hero {
    box-sizing: border-box;
    width: 100%;
    padding-top: 150px;
    height: 100vh;
    background-image: url("assets/profile-bg-5.webp");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}

.hero-container {
    max-width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    top: 20%;
}

.hero-container h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;


}

.hero-container p {
    font-size: 24px;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-role span {
    color: #ff4d4f;
}

.social-icons {
    display: flex;
    gap: 20px;
    transition: 0.3s ease;
}

.social-icons i:hover {
    background: #ff4d4f;
    transform: translateY(-3px);
}

.social-icons i {
    font-size: 25px;
    /* border: 1px solid white; */
    background: transparent;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .hero-container h2 {
        font-size: 42px;
    }

    .hero-container p {
        font-size: 22px;
    }

    .hero {
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .hero {
        background-position: center;
        height: 100vh;
    }

    .hero-container h2 {
        font-size: 36px;
    }

    .hero-container p {
        font-size: 20px;
    }

    .social-icons i {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .hero {
        background-position: center;
        text-align: center;
    }

    .hero-container {
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 15%;
    }

    .hero-container h2 {
        font-size: 28px;
    }

    .hero-role {
        font-size: 18px;
    }

    .social-icons i {
        font-size: 16px;
    }
}

/* About Me Section */

.aboutMe-sec {
    background: #141414;
    color: white;
    max-width: 100%;
    padding: 60px 0;
    box-sizing: border-box;
}

.aboutMe-txt-top {
    text-align: center;
    margin: 0 auto;
    max-width:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    box-sizing: border-box;
}

.red-txt {
    font-size: 14px;
    color: #ff4d4f;
    font-weight: 400px;
    letter-spacing: 2px;
    border-bottom: 1px solid #ff4d4f;
    padding: 5px;
}

.aboutMe-txt-top h2 {
    font-size: 56px;
    font-weight: 300;

}

.aboutMe-desc {
    /* padding: 0 18px; */
    font-size: 18px;
    line-height: 1.8;
    color: color-mix(in srgb, var(--default-color), transparent 25%);
    text-align: center;
}

/* About me section left */

.about-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    /* background: ; */
    margin: 48px 30px 0;

}

.profile-card {
    box-sizing: border-box;
    background: #1c1c1c;
    padding: 40px;
    border-radius: 24px;
    /* position: sticky; */
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 80%;
    height: 80%;
    margin: 0 auto 24px;
    align-self: center;
    box-sizing: border-box;
    text-align: center;

}

.profile-img img {
    align-self: center;
    width: 70%;
    height: 70%;
    border: 7px solid #ff4d4f;
    border-radius: 50%;
    padding: 6px;

}

.profile-card h3 {
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
}

.profile-card .role {
    font-size: 20px;
    color: #ff4d4f;
    margin-bottom: 16px;
    font-weight: 500;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    gap: 20px;
    padding: 30px 0;
    /* border-bottom: 1px solid #d9d9d9; */
}

.stat-item {
    text-align: center;
}

.stats h4 {
    font-size: 28px;
    font-weight: 700;
    color: #ff4d4f;
    margin-bottom: 6px;
}

.stats span {
    font-size: 13px;
    color: #d9d9d9;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
}

.dwnd-contact-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 0;
}

.btn {

    text-align: center;
    display: block;
    text-decoration: none;
    padding: 20px 60px;
    border-radius: 12px;
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 18px;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    /* background: #8f8382; */
}

.primary {
    background: #ff4d4f;
    color: white;
    margin: 0;
}

.secondary {
    /* border: 1px solid #ccc; */
    color: white;
    background:
        color-mix(in srgb, #ff4d4f, transparent 90%);
    ;
}

.card-social-icons {
    display: flex;
    padding-top: 30px;
    gap: 7px;
}

.card-social-icons i {

    font-size: 16px;
    color: white;
    background: #2a2a2a;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.card-social-icons i:hover {
    background: #ff4d4f;
}



/* About section right */
.about-right {
    background: #141414;
    box-sizing: border-box;
}


.section-tag {
    display: inline-block;
    padding: 6px 16px;
    color: #ff4d4f;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    border-radius: 20px;
    background: #8f8382f3;
}

.bio-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-bottom: 22px;
    line-height: 1.2;
}

.bio-section p {
    font-size: 16px;
    line-height: 1.8;
    color: white;
    margin-bottom: 16px;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;

}


.detail-item {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: #1c1c1c;
    border: 1px solid #d9d9d9 transparent 92%;
    transition: 0.3s ease;
    border-radius: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

.detail-item:hover {
    transform: translateY(-3px);
    border: 1px solid #ff4d4f;
}

.detail-item i {
    font-size: 25px;
    color: #ff4d4f;
}

.detail-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.detail-text span {
    font-size: 11px;
    color: #d9d9d9;
}

.detail-text strong {
    font-size: 13px;
    font-weight: 100;
}

@media (max-width: 1024px) {
    .aboutMe-txt-top h2 {
        font-size: 44px;
    }

    .about-content {
        margin: 40px 20px 0;
        gap: 16px;
    }

    .profile-card {
        width: 260px;
        padding: 28px 18px;
    }

    .bio-section h2 {
        font-size: 26px;
    }

    /* 2-col grid stays, fits well at 1024 */
    .details-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .aboutMe-sec{
        padding: 12px;
    }

    aboutMe-txt-top{
        padding: 0 20px;
    }

    .aboutMe-txt-top h2 {
        font-size: 36px;
    }

    .aboutMe-desc {
        font-size: 16px;
    }


    .about-content {
        flex-direction: column;
        align-items: center;
        margin: 32px 16px 0;
        gap: 28px;
    }

    .profile-card {
        position: static;
        width: 100%;
        max-width: 500px;
        padding: 32px 24px;
    }

    .stats {
        padding: 30px 0;
        gap: 20px;
        margin: 0;
        width: 100%;
    }

    .dwnd-contact-btn {
        width: 100%;
    }

    .profile-card .card-social-icons {
        display: flex;
    }

    .about-right {
        width: 100%;
        padding: 20px;
    }


    .details-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .aboutMe-sec {
        padding: 40px 0 60px;
    }

    .aboutMe-txt-top {
        gap: 16px;
        margin: 20px auto;
    }

    .aboutMe-txt-top h2 {
        font-size: 26px;
    }

    .aboutMe-desc {
        font-size: 14px;
    }

    .about-content {
        margin: 20px 12px 0;
        gap: 20px;
    }

    .profile-card {
        border-radius: 16px;
        padding: 24px 16px;
    }

    .profile-img img {
        width: 110px;
        height: 110px;
    }

    .profile-card h3 {
        font-size: 20px;
    }

    .profile-card .role {
        font-size: 14px;
    }

    .stats h4 {
        font-size: 22px;
    }

    .stats span {
        font-size: 11px;
    }

    .btn {
        font-size: 14px;
        padding: 12px 16px;
    }

    .bio-section h2 {
        font-size: 22px;
    }

    .bio-section p {
        font-size: 14px;
    }

    .details-grid {
        gap: 10px;
    }

    .detail-item {
        padding: 14px;
        border-radius: 12px;
    }

    .detail-item i {
        font-size: 18px;
    }

    .detail-text strong {
        font-size: 13px;
        font-weight: 700;
    }
}

/*About Me right> tech proficinecy  */

.tech-proficiency {
    margin-top: 40px;
}

.skills-heading {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;

}

.skill-list {
    display: flex;
    flex-direction: column;
    /* gap: 22px; */
    /* margin-bottom: 28px; */
}

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 28px;
}

.skill-label {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
}

.skill-label span {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.skill-percent {
    color: #ff4d4f !important;
}

.skill-bar {
    width: 100%;
    height: 7px;
    background: #2e2e2e;
    border-radius: 9px;
}


.skill-fill {
    height: 100%;
    background: #ff4d4f;
    border-radius: 9px;
}


/* Resume Section */
.resume-section{
    background: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.resume-content {
    display: flex;
    gap: 20px;
    color:#ededed;
    padding: 60px;
    box-sizing: border-box;
}

.resume-content-left{
    width: 50%;
    padding: 10px;
}



.resume-txt-top {
    text-align: center;
    margin-top: 0;
    /* margin: 32px auto; */
    max-width: 800px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.resume-red-txt {
    font-size: 14px;
    color: #ff4d4f;
    letter-spacing: 2px;
    border-bottom: 1px solid #ff4d4f;
    padding: 5px;
}

.resume-txt-top h2 {
    font-size: 56px;
    font-weight: 300;
    color: white;
}

.resume-desc {
    font-size: 18px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

.section-tag {
    display: inline-block;
    background:
        color-mix(in srgb, #ff4d4f, transparent 90%);
    ;
    color: #ff4d4f;
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

.resume-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
}


.resume-dec {
    font-size: 1rem;
    line-height: 1.7;
    color: color-mix(in srgb, #d9d9d9, transparent 35%);
    margin: 0 0 10px 0;
}

.resume-card-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    

}

.resume-card {
    
    box-sizing: border-box;
    width: 90%;
    /* background: linear-gradient(135deg, #1c1c1c,
 color-mix(in srgb, #ff4d4f, transparent 95%)); */
 background:#1c1c1c;
    border-radius: 16px;
    padding: 32px;
    /* margin-bottom: 16px; */
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: border-color 0.3s;
    border: 1px solid #ff4d4f;
}

.resume-card:hover {
    border-color: rgba(255, 77, 79, 0.3);
}

.resume-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.resume-icon {
    background: #ff4d4f;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-icon i {
    font-size: 18px;
    color: white;
}

.resume-badge {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 4px 10px;
    border-radius: 20px;
}

.resume-badge.current {
    background: rgba(255, 77, 79, 0.15);
    color: #ff4d4f;
    border: 1px solid rgba(255, 77, 79, 0.3);
}

.resume-card h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #ededed;
    margin-bottom: 0.5rem;
    letter-spacing: -0.01em;
}

.resume-company {
    font-size: 1rem;
    color: color-mix(in srgb, #d9d9d9, transparent 25%);
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.resume-date {
    display: inline-block;
    font-size: 0.9rem;
    color: #ff4d4f;
    font-weight: 600;
    background:
        color-mix(in srgb, #ff4d4f, transparent 90%);
    padding: 0.2rem 0.8rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.resume-degree{
    font-size: 0.6rem;
    color:  color-mix(in srgb, #d9d9d9, transparent 40%);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

.resume-card-desc {
    font-size: 0.8rem;
    line-height: 1.6;
    color:
        color-mix(in srgb, #d9d9d9, transparent 35%);
    margin-bottom: 1.5rem;
}


.resume-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    background: color-mix(in srgb, #ff4d4f, transparent 92%);;
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #ff4d4f;
}

/* Resume Section Right */

.resume-content-right{
    /* background: red; */
    width: 50%;
    padding: 20px;
}

.resume-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.timeline-award{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    background: 
 color-mix(in srgb, #ff4d4f, transparent 92%);
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border-left: 3px solid;
}

.timeline-award span{
    border: none;
    color:#ff4d4f;
}

.timeline-award i{
    font-size: 1rem;
    color:#ff4d4f;
}

.certicates-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 14px;
}

.cert-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    /* background: rgba(255, 255, 255, 0.04); */
    border-bottom: 2px solid
 color-mix(in srgb, #d9d9d9, transparent 95%);
    border-radius: 8px;
    transition: border-color 0.2s;
}



.cert-item span {
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
}

.cert-year {
    font-size: 12px;
    font-weight: 700;
    color: white !important;
    background: #ff4d4f;
    padding: 3px 10px;
    border-radius: 20px;
    flex-shrink: 0;
}


@meida (max-width: 1024px){
    .resume-content{
        margin:32px;
    }
}

@media (max-width: 768px){
    .resume-section{
        padding:20px;
        /* align-items: center; */
    }

    .resume-content{
        flex-direction: column;  /* stack left and right */
        padding: 30px 15px;
        gap: 40px;
    }

    .resume-content-left,
    .resume-content-right {
        width: 100%;
        padding: 0;
    }

    .resume-card-section{
        align-items: center;
    }

    .resume-left-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .resume-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2px
    }

    .resume-badge.current{
        display: none;
    }

    .resume-card-header{
        flex-direction: column;
    }

    .timeline-award {
        width:80%;
    }

    .certicates-list{
        width: 80%;
    }
    .cert-item{
        flex-direction: column;
        align-items: flex-start;
        gap:7px;
        /* width:80% */
    }
}